$bgLight: #ECEFF1;
$bgDark: #263238;
$light: #FFF;
$bgImg: #EFF7FC;
$bgDarkSecondary: #444;
$darkImg: #37474F;
$darkContent: #273035;
$blue: #67B4F3;

$fontFamily: 'Helvetica', sans-serif;
$bold: bold;
