.btn {
  width: 7rem;
  height: 3rem;
  border: none;
  border-radius: 2rem;
  text-transform: uppercase;
  font-weight: $bold;
  cursor: pointer;
}

.btn-main {
  background: $blue;
  color: $light;
}

